<div class="main-container">
  <img
    class="main-container__img"
    src="../../../../assets/pictures/contact-back.jpg"
    class="main-container__img"
  />
  <div class="main-header">
    <h2 class="main__title">Contact us</h2>
    <p class="main__subtitle">Reach out us in form for any inquiry</p>
  </div>
</div>
<div class="data-container">
  <div class="form-container">
    <div class="form-inputs-container">
      <form>
        <div class="input-container">
          <label for="full-name"></label>
          <input type="text" class="input" id="full-name" placeholder="Full name" />
        </div>
        <div class="input-container">
          <label for="email"></label>
          <input type="email" class="input" id="email" placeholder="Email" />
        </div>
        <div class="input-message-container">
          <textarea
            cols="50"
            rows="5"
            class="textarea"
            id="message"
            placeholder="Message"
          ></textarea>
        </div>
        <div class="input-container">
          <button type="text" type="button" class="submit-button">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="map-container">
    <iframe
      width="100%"
      height="625px"
      id="mapcanvas"
      src="https://maps.google.com/maps?q=Krak%C3%B3w&amp;t=&amp;z=11&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      ><div class="zxos8_gm">
        <a rel="bookmark" href="http://www.burnttoastcottage.com/directions.html"
          >http://www.burnttoastcottage.com/directions.html</a
        >
      </div>
      <div style="overflow: hidden">
        <div id="gmap_canvas" style="height: 440px; width: 100%"></div>
      </div>
      <div>
        <small>Powered by <a href="https://www.embedgooglemap.co.uk">Embed Google Map</a></small>
      </div></iframe
    >
  </div>
</div>
